#Dangki{
	width: 300px;
	height: 650px;
	border: 1px solid blue;
	border-radius: 10px;
	text-align: center;
	margin-left: 600px; 



}
#Dangki h2{

	color:#868787;
	font-family: sans-serif;
}
 #Dangkii input{
	width: 200px;
	/*width: 20px;*/
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 20px;
}
#Dangki button{

	width: 220px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	background:#45a049;	
	color: white;
}
#Dangki button:hover{
	font-size: 15px;
}
.a a{
/*	margin-left: 150px;*/
	font-size: 20px;
	color: white;
	background: green;
	width: 100px;
	text-decoration: none;
	border-radius: 5px;
}
.a a:hover{
	font-size: 15px;
}

.radio{
	/*width: 300px;*/
	display: inline-flex;
	/*font-size: .875em;*/
	/*margin-left: 0px;*/
	font-size: 20px;
}



.radio input{
	width: 25px;
	height: 25px;
	/*display: none;*/
	
}
